In [1]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/VasanthLingamneni/internship-test2-18MIS7025/master/input/question-2/main.csv")
data.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg

In [2]:
data.groupby('product_description')['price'].mean()

product_description
apple           2.077778
butter-0.25    11.400000
cucumber        4.532857
grape           4.400000
milk-1.5        6.078571
onion           2.150714
orange          2.714286
plum            4.389655
tomato          3.121034
yogurt-1        6.693103
Name: price, dtype: float64

In [3]:
data["price_new"] = data['price'].fillna(
   data.groupby('product_description')['price'].transform("mean")
)

In [5]:
data["sales_amount"]=data["sales_quantity"].where(data["unit"] !="pcs",data["product_description"].str.split("-",expand=True)[1].astype("float") *\
data["sales_quantity"]
)

In [6]:
data.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new,sales_amount
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg,2.99,36.0
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg,2.99,23.0
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg,2.99,34.0
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg,2.99,23.0
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg,2.99,34.0

In [7]:
data.tail()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new,sales_amount
295,1203,butter-0.25,dairy,2021-11-26,11.9,31,pcs,11.9,7.75
296,1203,butter-0.25,dairy,2021-11-27,11.9,29,pcs,11.9,7.25
297,1203,butter-0.25,dairy,2021-11-28,11.9,37,pcs,11.9,9.25
298,1203,butter-0.25,dairy,2021-11-29,11.9,34,pcs,11.9,8.50
299,1203,butter-0.25,dairy,2021-11-30,11.9,36,pcs,11.9,9.00

In [8]:
from google.colab import files
import pandas as pd
data.to_csv('main.csv')
files.download('main.csv')